	.panel {
		height:auto;
		margin-left:5px;
		float:left;
		border:1px solid grey;
	}
	.sliderframe {
		position:absolute;
	}
	
	.slider {
		width:100%;
		/*display: flex; /*added*/
		flex-direction: row;
  		overflow:hidden;
  		position:relative;
  		/*left:10px;*/
	}
	
	.sliderIcon {
		position:absolute;
		top:50%;
		background-color:white;		
	}
	
	.sliderIcon i {
		font-size:1.5em;
		vertical-align:middle
	}
	.panelimg {
		max-width: 100%;
		max-height: 100%;
		display:block;
		margin:auto;
	}
	.slider_container {
		display:flex;
		width:100%;
	}